<!DOCTYPE html>
{% load static %}

<html>
<head>
    <title>Uppy S3 Multipart Django</title>
    <link href="{% static 'uppy/uppy.min.css' %}" rel="stylesheet">
</head>
<body>

    <div id="content-main" class="container-fluid" style="">
        <div class="DashboardContainer" id="drag-drop-area"></div>
    </div>

</body>

<script src="{% static 'uppy/jquery.min.js' %}"></script>
<script src="{% static 'uppy/uppy.min.js' %}"></script>
<script src="{% static 'uppy/main.js' %}"></script>

</html>